a{
  text-decoration: none !important;
}
li{
  list-style: none !important;
}
.header{
  height: 75px;
  box-shadow: rgb(0 72 217 / 10%) 0px 2px 4px,
   rgb(0 72 217 / 5%) 0px 24px 60px,
    rgb(0 72 217 / 5%) 0px 12px 24px;
}
.content-logo{
  display: grid;
  place-content: center;
}
.content-logo img{
  width: 90px;
  height: 60px;
}
.nav-user{
}
.main{
  height: calc(100vh - 75px);
  display: flex;
  padding: 10px 0 0 0;
}
.nav-header{
  height: 100%;
}
.menu-left{
  width: 230px;
  height: 100%;
  border-right: 1px solid rgba(83, 126, 194, 0.534);
}
.menu-left-content{

}
.menu-left-list{
  display: flex;
  flex-direction: column;
  padding: 0;

}
.menu-left-link{
}
.menu-left-link a{
  display: block;
  height: 38px;
}
.menu-left-link span{
  display: block;
  height: 38px;
}
.menu-left-link a:hover{
  border-radius: 3px;
  padding-left: 3px;
  background-color: rgba(111, 151, 232, 0.268);
  color: rgb(0, 101, 217);
}
.content-view-section{
  flex-grow: 1;
  padding: 0 10px ;
  max-height: 100%;
  overflow-y: auto;
}
.content-view-section::-webkit-scrollbar{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}
.content-view-section::-webkit-scrollbar-thumb {
    background: rgba(3, 117, 188, 0.589);
    border-radius: 4px;
}

.accordion-link{
  padding: 2px 5px 5px 8px;
}
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
